
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    /static/styles.css
</head>
<body>

<header>
    <h1>Adopción de Perritos</h1>
</header>

<div class="form-box">
    <h2>Iniciar sesión</h2>

    /login
        <label>Usuario</label>
        <input type="text" name="usuario" required>

        <label>Contraseña</label>
        <input type="password" name="contrasena" required>

        <button type="submit">Ingresar</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</div>

</body>
</html>

