
<!DOCTYPE html>
<html>
<head>
    <title>Registrar Perrito</title>
    /static/styles.css
</head>
<body>

<header>
    <h1>Registrar Perrito</h1>
</header>

<div class="form-box">
    /perritos
        <label>Nombre</label>
        <input type="text" name="nombre" required>

        <label>Edad</label>
        <input type="number" name="edad" required>

        <label>Raza</label>
        <input type="text" name="raza">

        <button type="submit">Guardar</button>
    </form>
</div>

</body>
</html>
